.title-text {
    color: #EEEEEE;
    margin-bottom: 0;
}

.title-subtext {
    color: #EEEEEE;
    font-size: 2.5rem;
    margin-top: 0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Handlee', cursive;
    background-color: #476269;
    font-size: 1rem;
}

.intro{
    width:30%;
}

h1 {
    color: #DEFCF9;
    margin: 0 auto;
    font-family: 'Arizonia', cursive;
    font-size: 5.625rem;
}

.profile {
    width: auto;
    margin: 0 auto;
}

h2 {
    color: #e1edf9;
    font-family: 'Coming Soon', cursive;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    color: #a1b6cc;
    font-family: 'Coming Soon', cursive;
}

p {
    color: #EEEEEE;
    margin: 0 auto;
    line-height: 2;
}

.top-container {
    padding-top: 100px;
    background-color: #7286D3;
    position: relative;
    margin: 0 auto 0 auto;

}

.middle-container {
    margin:100px 0 50px 0;
}

.bottom-container {

    padding: 25px;
    background-color: #7286D3;
}

.contact-me{
    margin: 25px auto 25px auto;
    width:25%;
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 400px;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
    
}

.python{
    float:right;
    margin-left: 25px;
    margin-right: 25px;
}

.csharp{
    float:right;
    margin-left: 25px;
    margin-right: 25px;
}

.html{
    float: left;
}

.css{
    float: left;
}

.js{
    float: left;
    margin-left:25px;
    margin-right:25px;
}

a {
    color: #39383d;
    font-size:1.5rem;
    margin:0 10px 0 10px;
    text-decoration: none;
}

a:hover{
    color: white;
}

hr {
    color: #7286d3;
    width: 300px;
    border-style: dotted;
    border-width: 10px;
    border-bottom:none;
    width:4%;
    margin:100px auto;
    margin:100px auto;

}

.btn {
  background: #7286D3;
  background-image: -webkit-linear-gradient(top, #7286D3, e1edf9);
  background-image: -moz-linear-gradient(top, #7286D3, e1edf9);
  background-image: -ms-linear-gradient(top, #7286D3, e1edf9);
  background-image: -o-linear-gradient(top, #7286D3, e1edf9);
  background-image: linear-gradient(to bottom, #7286D3, e1edf9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 80px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}