.title-text{
    color:#EEEEEE;
    margin-bottom: 0;
}

.title-subtext{
    color:#EEEEEE;
    font-size: 2.5rem;
    margin-top: 0;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Handlee', cursive;
    background-color: #476269;
    font-size: 1rem;
}

h1{
    color: #DEFCF9;
    margin: 0 auto;
    font-family: 'Arizonia', cursive;
    font-size: 5.625rem;
}

.profile{
    width: auto;
    margin:0 auto;
}

h2{
    color:#e1edf9;
    font-family: 'Coming Soon', cursive;
    font-size: 2.5rem;
    margin-bottom:0;
    font-weight: bold;
}

h3{
    color:#a1b6cc;
    font-family: 'Coming Soon', cursive;
}

p{
    color: #EEEEEE;
    margin: 0 auto;
}

.top-container{
    padding-top: 100px;
    background-color:#7286D3;
    position:relative;
    margin: 0 auto 0 auto;

}

.middle-container{
}
.bottom-container{

}


.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position:absolute;
    left:700px;
    bottom:300px;
}

.top-cloud{
    position:absolute;
    right:700px;
    top:50px;
}

a{
    color:darkgrey;
}

hr{
    color:#7286d3;
    width:300px;
}


